@font-face {
  font-family: 'EF_jejudoldam';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PartialSansKR-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/PartialSansKR-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans:400');


@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

.App {
  text-align: center;
  width: 100%;
  padding-bottom: 60px;
}

.App-content {
  min-height: 600px;
}

.Foot-container {
  display: flex;
  flex-direction: column;
  background-color: #02b6fe;
  color: white;
	height: 60px;
  width: 100%;
  transform: translateY(0%);
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: white;
}

.logo {
  font-family: 'PartialSansKR-Regular';
  display: flex;
  color: black;
  font-size: 1.2rem;
}

.nav-btn-container {
  font-family: 'Pretendard-Regular';
  display: flex;
  flex-direction: row;
}

.nav-btn {
  display: flex;
  font-size: 1rem;
  cursor: pointer;
}

.menu-container {
  font-family: 'Pretendard-Regular';
  position: fixed;
  top: 0;
  right: 0;
  width: 230px;
  height: 100%;
  background-color: rgb(255, 106, 0, 0.8);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 0.5rem;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}

.menu-title-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 3rem;
  
}

.menu-title {
  margin: 8px 0;
  font-size: 1rem;
  cursor: pointer;
  text-align: left;
  width: 100%;
}

.menu-close-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: white;
}

.menu-item {
    position: relative;
    margin: 5px 0;
    color: white;
}

.menu-title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    cursor: pointer;
}

.dropdown-arrow {
    font-size: 15px;
    margin-left: 10px;
    color: white;
    transition: transform 0.3s ease;
    display: inline-block;
}

.menu-item:hover .dropdown-arrow {
    transform: rotate(90deg);  /* hover 시 화살표가 90도 회전 */
}

.dropdown-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    background-color: rgba(255, 255, 255, 0.1);  /* 반투명한 배경 */
    border-radius: 5px;
}

.menu-item:hover .dropdown-menu {
    max-height: 500px;
}

.dropdown-item {
    padding: 5px 20px;
    cursor: pointer;
    font-size: 0.9em;
    color: white;
    text-align: left;
}

.dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.2);  /* hover 시 밝은 배경 */
}

/* 전체적인 스타일 */
.weather-container {
  display: flex;
  flex-direction: column;
  font-family: 'Pretendard-Regular';
  background-color: #f7f7f7;
  border-radius: 10px;
  width: 10rem;
  height: 12rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: all 0.3s ease;
  position: relative;
}

.weather-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  
}

/* 제목 스타일 */
.weather-container h1 {
  font-size: 10px;
  color: #333;
  margin-bottom: 10px;
  font-weight: bold;
}

.weather-text {
  display: flex;
  flex-direction: column;
  position:absolute;
  top: 53%;
  left: 50%;
  transform: translate( -50%, -50% );
}

/* 날씨 정보 텍스트 스타일 */
.weather-info {
  font-size: 10px;
  margin-bottom: 10px;
  color: #444;
}

/* 온도 표시 스타일 */
.temperature {
  font-size: 25px;
  font-weight: bold;
  color: salmon;
  margin: 0.8rem;
}

/* 날씨 설명 스타일 */
.weather-description {
  font-size: 12px;
  color: white;
  text-transform: capitalize;
}

/* 습도와 풍속 스타일 */
.weather-details {
  font-size: 16px;
  color: #555;
}

/* 에러 메시지 스타일 */
.error-message {
  color: #e74c3c;
  font-size: 16px;
  margin-top: 20px;
  font-weight: bold;
}

/* 로딩 상태 스타일 */
.loading {
  font-size: 18px;
  color: #888;
  text-align: center;
}

.fresh-vegetables-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cherry-tomatoes-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.simble-sun-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-slide-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  overflow: hidden;
}

.home-slide-img {
  width: 33.333%;  
  min-width: 33.333%;
  flex: 0 0 auto;
  background-color: white;
}

.home-slide-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.home-img-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.fresh-vegetables-img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5rem;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
  padding: 0;
}

.slick-prev-custom {
  left: 10px;
}

.slick-next-custom {
  right: 10px;
}

.team-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


